.changePassword {
    width: 30%;
    margin: 4% auto;
  }
.submitNewPasswordButton {
    width: 100%;
    background-color: rgb(200, 99, 99);
    color: beige;
}
.submitNewPasswordButton:hover {
    width: 100%;
    background-color: rgb(200, 99, 99);
    color: beige;
}
.p{
    margin: 1%;
    display: inline-block;
}